/* Fix z-index hierarchy */
.ant-layout-header {
  z-index: 999 !important;
}

.ant-table-thead > tr > th {
  z-index: 10 !important;
}

.ant-table-cell-fix-right {
  z-index: 5 !important;
}

.ant-table-cell.action-column {
  z-index: 1 !important;
}

/* Fix modal button colors */
.ant-modal-footer .ant-btn-primary {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
  color: white !important;
}

.ant-modal-footer .ant-btn-primary:hover {
  background-color: #40a9ff !important;
  border-color: #40a9ff !important;
}
